<header class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/public/images/logo.png" alt="Logo" height="30">
        MyDrive
    </a>
    <form class="form-inline mx-auto">
        <input class="form-control mr-sm-2" type="search" placeholder="Search files" aria-label="Search">
    </form>
    <ul class="navbar-nav">
        <li class="nav-item mx-2">
            <a class="nav-link" href="#" title="Help">
                <span class="material-icons-outlined">help</span>
            </a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link" href="#" title="Settings">
                <span class="material-icons-outlined">settings</span>
            </a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link" href="#"><span class="material-icons-outlined">account_circle</span></a>
        </li>
    </ul>
</header>